---
# Prometheus Handlers
# Author: hyhoncute
# Date: 2025-11-08 17:05:26 UTC

- name: reload systemd
  systemd:
    daemon_reload: yes

- name: restart prometheus
  systemd:
    name: prometheus
    state: restarted

- name: restart node_exporter
  systemd:
    name: node_exporter
    state: restarted

- name: restart alertmanager
  systemd:
    name: alertmanager
    state: restarted